body {
	background-image: url(" https://datenightfriday.files.wordpress.com/2016/01/img_3314.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}

h1 {
	font-family: 'Kumar One', sans-serif;
	font-weight:normal;
	font-size: 36px;
	color: black;
	background-color: #D82B0C;
	text-align:center;
	padding:10px 10px 3px 10px;
	margin-top:20px;
}

